.my--demo {
  width: 100%;
  padding: 0 20px;
  background: #FAFAFA;
  display: inline-block;
  box-sizing: border-box;
  /deep/ .el-select{
    display: block;
  }
  .code-pre {
    max-height: calc(80vh - 250px);
    overflow: auto;

  }

  .dialog-footer {
    text-align: center;
    margin-top: 15px;
  }

  .demo-button {
    width: 100%;

    .el-row {
      margin-bottom: 20px;
    }

    .item {
      margin-right: 40px;
    }
  }

  .demo-form {
    /deep/ .el-form-item {
      display: inline-block;

      .el-form-item__content {
        .el-input {
          width: 200px;
        }
      }
    }
  }

  /deep/.mySelect {
    .el-select .el-tag__close.el-icon-close::before {
      display: none;
    }

    .el-tag.el-tag--info {
      background-color: transparent;
      border-color: transparent;
      color: #909399;
    }

    .el-tag.el-tag--info .el-tag__close:after {
      content: ",";
    }

    .el-select .el-tag__close.el-icon-close {
      background-color: transparent;
    }

    .el-select .el-tag {
      margin: 0;
      display: inline-block;
    }

    .el-select__tags {
      flex-wrap: nowrap;
      overflow: hidden;
      margin-left: 0.5rem;
    }

    .el-tag--small {
      padding: 0;
    }

    .el-tag .el-icon-close {
      width: 1rem;
      right: 0;
    }
  }
}