* {
  padding: 0;
  margin: 0;
}

.margint0 {
  margin-top: 0px !important;
}

.margint10 {
  margin-top: 10px !important;
}

.margint15 {
  margin-top: 15px !important;
}

.margint20 {
  margin-top: 20px !important;
}

.margint25 {
  margin-top: 25px !important;
}

.margint30 {
  margin-top: 10px !important;
}

.paddingr0{
  padding-right: 0px !important;
}

.paddingr5{
  padding-right: 5px !important;
}

.paddingr10{
  padding-right: 10px !important;
}

.paddingr15{
  padding-right: 15px !important;
}

.paddingr20{
  padding-right: 20px !important;
}

.paddingr25{
  padding-right: 25px !important;
}

.paddingr30{
  padding-right: 30px !important;
}

.clearfix {
  *zoom: 1
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none{
  float:none !important;
}