.page{
  margin: 10px 20px;
  .navTitle{
    font-size: 24px;
    font-weight: bold;
  }
  .text-box{
    font-size: 16px;
    p{
      line-height: 30px;
    }
  }
  .red{
    color: red;
  }
  .font-bold{
    font-weight: bold;
  }
}